@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

body {
  background-color: rgba(145, 145, 145, 0.2);
}

.my_pic {
border-radius: 100px;
border: solid 3px black;
margin-left: 22%;
margin-top: 7%;
width: 18%;
}

.intro-heading {
  margin-top: -20%;
  margin-left: 45%;
}

.introduction {
  margin-left: 45%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.doing-heading {
  margin-top: 0%;
  margin-left: 45%;
}

.doing {
  margin-left: 45%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.github-icon {
  width: 4%;
  background: transparent;
  border-radius: 100px;
  margin-left: 52%;
  margin-top: 10px;
}

.linkedin-icon {
  width: 4%;
  background: transparent;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 1%;
}

.free-code-camp-icon {
  width: 5%;
  background: transparent;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 1%;
}

.mail-icon {
  width: 4%;
  background: transparent;
  margin-left: 5%;
  margin-top: 1%;
}

.edu_sec{
  background-color: white;
  margin-top: -300px;
}


.skill_sec{
  background-color: white;
}

.intern_sec{
  background-color: white;
}

.resume-link {
  margin-left: 28%;
  display: inline;
  font-size: x-large;
  padding: 5px 5px;
  border-radius: 10%;
}

.resume-link:hover {
  background-color: rgb(200, 200, 200);
  color: white;
}

@media screen and (max-width: 992px) {
  body {
    background-color: lightblue;
     min-width:992px; 
  }

  .my_pic {
    margin-left: 1%;
    margin-top: 7%;
    }

    .intro-heading {
      margin-left: 25%;
      text-decoration: underline;
      font-size: .9rem;
    }

    .introduction {
      margin-left: 25%;
      font-size: 0.9rem;
    }

    .doing-heading {
      margin-left: 25%;
      text-decoration: underline;
      font-size: .9rem;
    }
    
    .doing {
      margin-left: 25%;
      font-size: 0.9rem;
    }

    .resume-link {
      margin-left: 5%;
      display: inline;
      font-size: large;
    }

    .github-icon {
      margin-left: 55%;
      margin-top: 20px;
    }
   
    
}