@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

body {
  background-color: rgba(145, 145, 145, 0.2);
}

.my_pic {
border-radius: 100px;
border: solid 3px black;
margin-left: 300px;
margin-top: 70px;
}

.intro-heading {
  margin-top: -250px;
  margin-left: 600px;
}

.introduction {
  margin-left: 600px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.doing-heading {
  margin-top: 0px;
  margin-left: 600px;
}

.doing {
  margin-left: 600px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.github-icon {
  width: 4%;
  background: transparent;
  border-radius: 100px;
  margin-left: 650px;
  margin-top: 10px;
}

.linkedin-icon {
  width: 4%;
  background: transparent;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

.free-code-camp-icon {
  width: 5%;
  background: transparent;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

.mail-icon {
  width: 4%;
  background: transparent;
  margin-left: 60px;
  margin-top: 10px;
}

.edu_sec{
  background-color: white;
  margin-top: -300px;
}


.skill_sec{
  background-color: white;
}

.intern_sec{
  background-color: white;
}

.resume-link {
  margin-left: 375px;
  display: inline;
  font-size: x-large;
  padding: 5px 5px;
  border-radius: 10%;
  margin-top: -50px;
  position: absolute;
}

.resume-link:hover {
  background-color: rgb(200, 200, 200);
  color: white;
}